.main {
  padding: 3rem 3rem;
}

.pieceTitle {
  font-weight: bold;
  padding-bottom: 3rem;
}

.pieceIntro {
  b {
    color: #f0759a;
  }
}

.pieceList {
  color: #5ab9a1;
  font-weight: bold;
  text-align: center;
}
